[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/user/Desktop/Arduino.desktop]
row=0
col=0

[/home/user/Desktop/Tinkercad.desktop]
row=3
col=0

[/home/user/Desktop/Firefox.desktop]
row=1
col=0

[/home/user/Desktop/Inkscape.desktop]
row=2
col=0

